body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(4 0 33);
  box-sizing: border-box;
}
.full-height {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
